[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
praw = "*"
jsons = "*"
pandas = "*"
boto3 = "*"
numpy = "*"
Scrapy = "==1.6.0"
requires = "*"

[requires]
python_version = "3.7"

[scripts]
build-lambda = "sh bin/build_lambdas.sh"
build-lambda-layer = "sh bin/build_layer.sh"
tf-apply = "terraform apply -auto-approve tf"